<%= form_for :notifier, :url => '/notifier/notifier',:html => { :id => 'contato' } do |f| %>
	<h1 class="contato">Contato</h1>
        <div style="clear: both;"></div>
	<h5 class="aviso">Entre em contato conosco.</h5>
	<br />
	<p>
	  <label for="nome">Nome:</label><br />
	  <input type="text" id="nome" name="contato[nome]"/>
	</p>
	<p>
	  <label for="email">Email:</label><br />
	  <input type="text" id="email" name="contato[email]"/>
	</p>
	<p>
	  <label for="mensagem">Mensagem:</label><br />
	  <textarea id="mensagem" name="contato[mensagem]"></textarea>
	</p>
	<br />
	<input class="botao" value="Enviar" type="submit" />
	<%= flash[:notice] %>	
<%end%>
