#contato {
      }

      #contato h1 {
        color:#555555;
        font-size:23px;
        font-weight:bold;
        letter-spacing:-0.5px;
      }

      #contato h5 {
        color:#888888;
        font-size:16px;
        line-height:22px;
        margin-bottom:20px;
        margin-top:3px;
      }

      #contato label {
        font-size: 10pt;
      }

      #contato input[type=text],
      #contato textarea {
        font-size:13px;
        margin-bottom:10px;
        padding:3px 7px;
        width:250px;
      }

      #contato input:focus,
      #contato textarea:focus { 
        border-color: #4A4A47; 
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
              }

              #contato input[type=submit] {
                background-color: #4a4a47;
                display: inline-block;
                font-size: 12px !important;
                color: #fdd011;
                font-weight: normal !important;
                padding: 5px;
                width: 104px;
                position: relative;
                left: 158px;
      }

      #contato p {
        margin-top: 5px;
      }
