<p class="titulo">Colaboradores do agendatech:</p>
<br/>

<div class="colaboradores">
	<ul>
		<li><a href="http://www.twitter.com/anderson_leite" target="_blank">Anderson Leite</a></li>
		<li><a href="http://www.twitter.com/alberto_souza" target="_blank">Alberto Souza</a></li>
		<li><a href="http://www.twitter.com/qmx" target="_blank">Douglas Campos</a></li>
		<li><a href="http://www.twitter.com/bbcoimbra" target="_blank">Bruno Coimbra</a></li>				
		<li><a href="http://www.twitter.com/vinibaggio" target="_blank">Vinicius Baggio</a></li>
		<li><a href="http://www.twitter.com/passos" target="_blank">Daniel Passos</a></li>
		<li><a href="http://www.twitter.com/davidpaniz" target="_blank">David Paniz</a></li>		
		<li><a href="http://www.twitter.com/pmariano" target="_blank">Pedro Mariano</a></li>				
	</ul>
</div>
